* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
    --titles-color: #48fb47;
    --hover-color: #ff66cc;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}  
  /* Estilo cuando el mouse está encima de la barra en Firefox*/
html:hover {
    scrollbar-color: #555 #f1f1f1;  /* Color al hacer hover */
}
    
body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--bg-color); 
    color: var(--text-color);
    /* overflow-y: fixed; */
    overflow-y: hidden;
    padding-top: 15rem;    
}
header{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    justify-content: flex-end;   
    z-index: 100;   
}
section{
    min-height: 100vh;
    padding: 5rem 5%;
    scroll-margin-top: 15rem;
}
h2{
    font-size: 6rem;
    color: var(--titles-color);
    margin-bottom: 2rem;
    text-align: center;
}
span{
    color: var(--main-color);
}
ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mainLogo{
    width: 80%;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 0 0 50px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: left;
    justify-content: left;    
    text-decoration: none;
    transition: all 0.3s ease;
}
.mainLogo:hover{
    transform: translateX(2%);
}
.mainLogo span{
    color: var(--main-color);
    text-shadow: 0 0 40px var(--main-color);
}

.language-selector{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-right: 1.5rem;
}
.language-selector button{
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease, box-shadow 0.3s ease;
}
.language-selector button img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    filter: grayscale(90%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.language-selector button.active img{
    filter: none;
}
.language-selector button:hover img{
    transform: scale(1.1);
    box-shadow: 0 0 5rem var(--main-color);
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease, box-shadow 0.3s ease;
}
 
#menu-icon:hover {
    transform: scale(1.8);
}

.navBar {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    background-color: rgb(15, 1, 28);
    border-radius: 5%;
    box-shadow: 0 1rem 2rem var(--main-color);
    transition: all 0.5s ease;
};

.navBar.active {
    display: flex;
    padding: 0.2rem;
}

.navBar a {
    display: flex;
    max-width: 100px;
    padding: 0.5rem 1rem;
    color: var(--bg-color) !important;
    background-color: var(--main-color);
    border-radius: 1rem;
    justify-content: center;
    margin-left: 2rem;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    position: relative;
    animation: neon-glow 1.5s infinite alternate;
}

.navBar a.active, .navBar a:hover {
    color: var(--hover-color);
    border-bottom: 0.4rem solid var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0 2rem 1rem rgba(255, 20, 147, 0.8),
                0 0 3rem 2rem rgba(255, 20, 147, 0.6);
    transform: scale(1.1);
}

.navBar a.active {
    border-bottom: 3px solid transparent;
    color: var(--text-color); /* Mismo color en active y hover */
}

.home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}    
.home-content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.home-img{
    width: 80%;
    display: flex;
    justify-content: center;
}
 
.home-img img{
    max-width: 100%;
    height: auto;    
    border-radius: 50%;
    top: 3rem;
    box-shadow: 0 0 50px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;   
}

.home-text h1{
    font-size: 4rem;
    margin-top: 1.5rem;
    line-height: 1.2;        
}
.text-animation{
    width: 100%;
    height: 10rem;
    max-width: 100%;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;      
}
    
.home-text p{
    font-size: 2rem;
    margin: 30px;
    font-weight: 800;
    line-height: 1.8;
    max-width: 100%;
    margin-bottom: 15rem;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.contact{
    display: block;
    padding: 3rem;
    background-color: var(--bg-color);
    color: var(--main-color);    
    font-size: 2rem;
    text-align: center;
    border: 3px dashed rgb(32, 32, 32);
    border-radius: 1rem;
    box-shadow: 0 0 5rem var(--main-color);
    margin: 1rem auto;
}
.contact h2{
    color: var(--titles-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    animation: neon-glow 1.5s infinite alternate;
}
.contact a{
    color: var(---color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.skills{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.skills h2{
    border-bottom: 0.5rem solid var(--hover-color);
    
}
.skills h3{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainSkills, .secondarySkills{
    width: 100%;
    height: auto;
    padding: 3rem;
}
.skills li{
    width: 30%;
    max-width: 150px;
    height: auto;
    color: var(--main-color);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.6rem;
    margin: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skills i{
    font-size: 8rem;
    margin-bottom: 1rem;
}
.skills li span{
    font-size: 1.4rem;
    color: var(--hover-color);
}

.formation{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 5%;
    overflow-x: hidden;
}
.formation-content{
    width: 100%;
    gap: 2rem;
    justify-content: center;
}
.formation-content h2{
    color: var(--titles-color);    
    font-size: 6rem;
    border-bottom: 0.4rem solid var(--hover-color);
    margin-bottom: 6rem;
    text-align: center;
    justify-content: center;
    width: 100%;   
}
.education, .courses{
    background-color: #010123;
    padding: 2rem;    
    border-radius: 4rem;
    box-shadow: 0 0 3.5rem var(--main-color);
    margin-bottom: 6rem;
}
.bootcamp, course{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 238. 0.2);
    margin-bottom: 1.5rem; 
}
.bootcamp h4, .courses h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.bootcamp p, .course ul{
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6;
}
.education h3 span{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--hover-color);
}
.course h3{
    list-style-type: disc;
    font-size: 2.5rem;
    color: #f15d8e;
    gap: 4rem; 
    padding: 1rem;
}
.course ul{
    padding-left: 5rem;
}
.course ul li{
    margin-bottom: 0.8rem;
    list-style-type: disc;
}
.course a{
    color: var(--main-color);
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
}
.experience {
    margin-top: 10rem;
    display:flex;
    justify-content: center;
    padding: 2rem;    
}
.experience-content{
    max-width: 100%;
    padding: 1rem;
}
.experience-content h2 {
    color: #ff66cc;
    font-size: 6rem;
    text-align: center;
    border-bottom: 0.5rem solid var(--titles-color);
    margin-bottom: 6rem;
    width: 100%;
}

.job {
    margin-bottom: 2.5rem;
    padding: 2rem;
    background-color: #1d0202;
    border-radius: 10px;
    box-shadow: 0 0 80px rgb(196, 8, 229)
}

.job h3 {
    font-size: 3rem;
    color: #00ffee;
    margin-bottom: 1rem;
}

.job p {
    font-size: 2.5rem;
    color: #ccc;
    line-height: 1.6;
}


.projects{
    margin-top: 30rem;
    gap: 2rem;
    padding: 5rem;
    background-color: #151514;
    box-shadow: 0 0 150px rgba(34, 34, 250, 0.979);
}
.projects-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    
}
.projects-content h2{
    color: var(--main-color);
    font-size: 6rem;
    margin-bottom: 6rem;
    border-bottom: 0.5rem solid var(--hover-color);
}
.project{
    background-color: var(--second-bg-color);
    border-radius: 10px;
    padding: 1.5rem;
    gap: 3rem;
    box-shadow: 0 0 50px rgba(5, 5, 240, 0.979);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}
.project-img{
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.project h3{
    font-size: 3rem;
    color: var(--titles-color);
    margin-bottom: 0.5rem;
}
.project p{
    font-size: 2.5rem;
    color:#ccc;
}
.footer {
    background-color: #2f2f2f;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}

.footer-content h3 {
    color: var(--titles-color);
    font-size: 2rem;
}

.footer-content p {
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 1rem;
    margin-bottom: 20px;
}


::-webkit-scrollbar{
    width: 3rem;
    height: 3rem;
}


/* Para pantallas de tablets (768px o más) */
@media (min-width: 768px) {
    header {
        padding: 2rem 5%;
    }    
    .mainLogo {
        font-size: 4rem;
        width: 80%;        
    }
    .mainLogo:hover{
        transform: translateX(2%);
    }
    .language-selector{
        width: 10%;
    }
    #menu-icon{ 
        font-size: 4rem;       
        width: 7rem;
        align-items: center;
    }    
    .navBar {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 100%;
        background-color: var(--main-color);
        border-radius: 5rem;
        box-shadow: 0 1rem 5rem var(--main-color);
        z-index: 10;
        transition: background-color 0.3s ease;
    }
    .navBar a {
        color: var(--bg-color) !important;
        background-color: var(--main-color);
        border-radius: 1rem;
        justify-content: center;
        padding: 0.5rem;
        margin-left: 2rem;
        font-size: 1.8rem;
        transition: all 0.3s ease;
        position: relative;
        animation: neon-glow 1.5s infinite alternate;
    }
    .navBar a:hover {
        color: var(--titles-color);
        border-radius: 5rem;
        background-color: var(--main-color);
        box-shadow: 0 0 2rem 1rem rgb(255, 20, 147, 0.8),
                    0 0 3rem 2rem rgb(255, 20, 147, 0.6);
        border-bottom: 0.4rem solid rgba(237, 75, 208, 0.8);
        transform: scale(1.1);
    }
    .home-content {
        flex-direction: column;
    }
    .home-img {
        width: 70%;    
    }
    .home-img img {
        width: 30vw;
    }
    .home-content h1 {
        font-size: 7rem;
    }
    .text-animation{        
        width: 90%;
        height: 10rem;
        font-size: 3rem;
        min-width: 200px;
        display: inline-block;
    }   
    .text-animation span{
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid var(--main-color);
    }    
    .contact{
        /* display: flex;
        background-color: white; */
        font-size: 2rem;
        padding: 1.5rem;
        max-width: 80%;
    }
    .contact h2{
        color: var(--text-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .experience-content h2 {
        font-size: 3rem;
        text-align: center;
    }
    .job h3 {
        font-size: 1.8rem;
    }
    .job p {
        font-size: 1.4rem;
    }
    .projects-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .project{
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        align-items: center;
        gap: 2rem;
    }    
    .project h3{
        font-size: 2.2rem;
        text-align: center;
    }
    .project p{
        font-size: 1.4rem;
        text-align: right;
    }
}

@media (min-width:1024px) {
    header{
        padding: 3rem;
        margin: 0;
    }
    .mainLogo{
        width: 100%;
        justify-content: left;
        padding-left: 1rem;
    }
    .language-selector{
        width: 10%;
    }
    #menu-icon {
        display: none;
    }
    .navBar a {
        display: flex;
        color: var(--bg-color) !important;
        background-color: var(--main-color);
        border-radius: 1rem;
        justify-content: center;
        padding: 0.5rem;
        margin-left: 2rem;
        font-size: 1.8rem;
        transition: all 0.3s ease;
        position: relative;
        animation: neon-glow 1.5s infinite alternate;
    }
    .navBar a:hover {
        color: var(--titles-color);
        border-radius: 5rem;
        background-color: var(--main-color);
        box-shadow: 0 0 2rem 1rem rgb(255, 20, 147, 0.8),
                    0 0 3rem 2rem rgb(255, 20, 147, 0.6);
        border-bottom: 0.4rem solid rgba(237, 75, 208, 0.8);
        transform: scale(1.1);
    }
    .home-img {
        width: 40%;
    }
    .home-img img{
        max-width: 25vw;
    }
    .contact{
        font-size: 2rem;
        padding: 1.5rem;
        max-width: 80%;
    }
    .project{
        max-width: 80%;
        margin: 0 auto;
    }
    .projects-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1440px) {
    .mainLogo{
        width: 65%;
        padding-left: 3rem;
    }
    .navBar{
        margin-right: 3rem;
    }

    .home-content{        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;    
    }
    .home-img{
        flex: 1;
        max-width: 45%;
    }
    .home-text{
        flex: 1;
        max-width: 55%;
        text-align: left;
        padding-left: 8rem;
    }
    .home-text h1{
        font-size: 10rem;
        display: flexbox;
        justify-content: center;
        
    }
    .text-animation{
        width: 700px;
        height: 100px;
        font-size: 3.5rem;
    }
    .text-animation span{
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid var(--main-color);
    }
    .text-animation span::before{
        content: "";     
    }
    .text-animation span::after{
        content: "";
        background-color: var(--bg-color);
        position: absolute;
        width: 370.81px;
        height: 90px;
        border-left: 3px solid var(--bg-color);
        right: -8px;
        animation: cursor 0.6s infinite;
    }
    .contact{
        font-size: 2.4rem;
        width: 100%;
        min-width: 500px;
        padding: 2rem;
        margin-top: 30rem;
    }
    .contact h2{
        color: #f15d8e;
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }    
    .skills h2{
        font-size: 5rem;
    }
    .skills li {
        width: 150px;
        height: 150px;
    }
}


@keyframes words{
    0%,
    25%{
        content: "Frontend Developer";
    }
    26%,
    50%{
        content: "Backend Developer in progress";
    }
    51%,
    75%{
        content: "3D Artist";
    }
    76%,
    100%{
        content: "Video Games Developer in Progress";
    }
}

@keyframes cursor{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: var(--main-color);
    }
    100%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes neon-glow {
    0% {
        box-shadow: 0 0 1rem 0 rgba(255, 20, 147, 0.7);
    }
    50% {
        box-shadow: 0 0 5rem 0 rgba(255, 20, 147, 1);
    }
    100% {
        box-shadow: 0 0 1rem 0 rgba(255, 20 , 147, 0.7);
    }
};


/* Scrollbar para navegadores basados en WebKit (Chrome, Safari, Edge) */

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5rem;  /* Grosor de la barra vertical */
    height: 5rem; /* Grosor de la barra horizontal */
}
  
/* Estilos para el fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;  /* Color de fondo de la pista */
}
  
  /* Estilos para la barra en sí (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888;  /* Color de la barra */
  border-radius: 10px;  /* Redondeado de la barra */
  border: 3px solid #f1f1f1;  /* Borde para separar el thumbdel track */
}
  
  /* Estilo de la barra cuando se pasa el cursor encima */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Color de la barra al hacerhover */
}
  

