* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
    --titles-color: #48fb47;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--bg-color); 
    color: var(--text-color);
}
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 5%;
    background: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;   
}
section{
    min-height: 100vh;
    padding: 5rem 5%;
}
span{
    color: var(--main-color);
}
ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mainLogo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.mainLogo:hover{
    transform: scale(1.2);
}
.mainLogo span{
    color: var(--main-color);
    text-shadow: 0 0 30px var(--main-color);
}

.language-selector{
    display: flex;
    gap: 5px;
    margin-right: 10px;

}
.language-selector button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease, box-shadow 0.3s ease;
}
.language-selector button img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.language-selector button:hover img{
    transform: scale(1.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.language-selector button:active img{
    transform: scale(0.95);
}

.navBar {
    color: var(--main-color);
    display: none;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--second-bg-color);
    width: 100%;
    padding: 2rem 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}
.navBar.active {
    color: var(--main-color);
    display: flex;
    opacity: 1;
    z-index: 100;
    overflow: hidden;
}
.navBar.active a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
}

.navBar a:hover, .navBar a.active{
    color: var(--main-color) !important;
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: block;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    /* gap: 15rem;  */  
}
    
.home-content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.home-img{
    width: 80%;
    display: flex;
    justify-content: center;
}
 
.home-img img{
    width: 60vw;    
    border-radius: 50%;
    top: 3rem;
    box-shadow: 0 0 50px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;   
}
.home-text{
    width: 100%;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1.2;        
}
.home-content h3{
    margin-bottom: 1.5rem;
    margin-top: .8rem;
    font-size: 2.5rem;    
}
    
.home-content p{
    font-size: 2rem;
    margin: 30px;
    font-weight: 700;
    line-height: 1.8;
    max-width: 100%;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.contact{
    display: flexbox;
    padding: 20px;
    margin-top: 10rem;
    border: 3px dashed rgb(32, 32, 32);
    box-shadow: var(--main-color);
}
.contact h2{
    color: RGB(72, 251, 71);
    font-size: 3rem;
    margin-bottom: 1rem; 
}
.contact a{
    color: var(---color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.skills{
    margin-top: 15rem;
    gap: 20px;
    justify-content: center;
}
.skills h2{
    color: RGB(72, 251, 71);
    font-size: 4rem;
    margin-bottom: 1rem;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skills li{
    width: 100px;
    height: 100px;
    color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    margin: 10px;
    transition: background-color 0.3s ease;
}
.skills i{
    font-size: 8rem;
}


.formation{
    display: flex;
    flex-direction: column;
}
.formation-content{
    gap: 2rem;
    justify-content: center;
}
.formation-content h2{
    color: RGB(72, 251, 71);    
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 100%;   
}
.education, .courses{
    background-color: #151514;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 0 0 15px var(--main-color);
    margin-bottom: 2rem;
}
.education h3, .courses h2{
    color: var(--titles-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.course h3{
    list-style-type: disc;
    color: #f15d8e;
    gap: 4rem; 
    padding: 1rem;
    
}
.course ul{
    padding-left: 2rem;
    
}
.course ul li{
    margin-bottom: 0.8rem;
    list-style-type: disc;
}
.bootcamp, course{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 238. 0.2);
    margin-bottom: 1.5rem;
}
.bootcamp h4{
    color: var(--titles-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.bootcamp p, .course ul{
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6;
}
.course a{
    color: var(--main-color);
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
}
.course a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.experience{
    margin-top: 15rem;
    gap: 20px;
    justify-content: center;
}

/* Para pantallas de tablets (768px o más) */
@media (min-width: 768px) {
    header {
        padding: 4rem 12%;
    }

    .mainLogo {
        font-size: 3rem;
    }
    #menu-icon{
        display: none;
        left: 2px;
    }
    .navBar {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        padding: 0;
    }
    .navBar a {
        color: var(--text-color) !important;
        margin-left: 2rem;
        font-size: 1.8rem;
        transition: color 0.3s ease;
    }

    .home-content {
        flex-direction: row;
        text-align: left;
    }

    .home-img {
        width: 50%;
    }

    .home-img img {
        width: 30vw;
    }

    .home-content h1 {
        font-size: 7rem;
    }

    .home-content h3 {
        font-size: 3.5rem;
    }
    .text-animation{
        font-size: 24px;
        font-weight: 600;
        min-width: 200px;
        display: inline-block;
    }
    .text-animation span{
        position: relative;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid var(--main-color);
        animation: typing 4s steps(30) infinite, cursor 0.6s infinite;
    }
    .text-animation span::before{
        content: "Web Developer";
        color: var(--main-color);
        animation: words 20s infinite;        
    }
    .text-animation span::after{
        content: "";
        background-color: var(--bg-color);
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid var(--bg-color);
        right: -8px;
        animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
    }
    .contact{
        display: flex;
        background-color: white;

    }
    .contact h2{
        color: var(--text-color);
        font-size: 2rem;
        margin-bottom: 1rem; 
/*         color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
         */
    }
}

@keyframes words{
    0%,
    20%{
        content: "Frontend Developer";
    }
    21%,
    40%{
        content: "Backend Developer in progress";
    }
    41%,
    60%{
        content: "3D Artist";
    }
    61%,
    80%{
        content: "Video Games Developer in Progress";
    }
}

@keyframes cursor{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: var(--main-color);
    }
    100%{
        border-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* Para pantallas de escritorio (1024px o más) */
@media (min-width: 1024px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .home-img {
        width: 40%;
    }

    .home-img img {
        width: 25vw;
    }
}
